{% block body %}

<div class ="container"> 
    <div class="row">
        <div class="col-lg-4 mt-3">
            <img src="{{url_for('static', filename=categoria.get_fotoURL())}}" alt="ERA PRA VIR A FOTO" class="rounded-circle">
        </div>  
        <div class="col-lg-8 mb-5 mt-5">
            <h2>{{categoria.get_titulo()}}</h2>
            <p>{{categoria.get_descricao()}}</p>
        </div>
    </div>
</div>

<div class = "container">
    <div class="row justify-content-center">
      {% for video in categoria.get_video_lista() %}
        <div class="col-lg-6 mb-4 mt-5">
          <div class="card">
            <img src="{{url_for('static', filename=video.get_fotoURL())}}" >
            <div class="card-body">
              <h5 class="card-title">{{video.get_titulo()}}</h5>
              <p class="card-text">{{video.get_descricao()}}</p>
              <p class="card-text"><small class="text-muted">{{video.get_qntCurtida()}}</small></p>
              <a href="{{url_for('video', video_id = video.get_id())}}" class="card-link">Veja o video!</a>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
</div>
 
{%endblock%}